$color1: #fff ; 
$color2:#8B0000 ; 
$color3: #666 ;
$color4: #FF8C00 ; 
$color5:#E67E00 ;
$color6:#333 ; 
$color7:#98262a ; 
$color8:#f1a545;
$color9:#5f9ea0 ; 
$color10:rgba(255, 255, 255, 0.5);
$color11:#FFF5EB;
$color12:#333;
$color13:whitesmoke ; 
$color14:#000 ; 