.splitSection {
  display: flex;
  height: 100%;
  background-color: #fff;
  max-width: 100vw;
  margin-top: 20px;
}
.splitSection__image img {
  height: 600px;
  width: 600px;
}
.splitSection__content {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.splitSection__content--headings {
  background-color: #fff;
  right: 24%;
  height: 21vh;
  padding: 1rem 0 0 0.8rem;
  position: relative;
}
.splitSection__content--headings--one {
  font-size: 24px;
  color: #333;
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
}
@media (max-width: 1030px) {
  .splitSection__content--headings--one {
    margin: 0;
  }
}
.splitSection__content--headings--two {
  font-size: 3rem;
  color: #8B0000;
  margin-top: 0;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 1030px) {
  .splitSection__content--headings--two {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1030px) {
  .splitSection__content--headings {
    height: 8vh;
  }
}
.splitSection__content--para {
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .splitSection__content--para {
    font-size: 1rem;
  }
}
.splitSection__content--btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #FF8C00;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  align-self: flex-start;
}
.splitSection__content--btn:hover {
  background-color: #E67E00;
}

@media (max-width: 768px) {
  .splitSection {
    flex-direction: column;
    height: auto;
  }
  .splitSection__image img {
    height: 200px;
    width: 100%;
  }
  .splitSection__content {
    padding: 20px;
    flex-wrap: wrap;
  }
  .splitSection__content--headings {
    position: static;
    right: auto;
    bottom: auto;
  }
}
@media (max-width: 500px) {
  .splitSection__image img {
    height: 21rem;
    width: 94%;
  }
}
@media (max-width: 590px) {
  .splitSection {
    flex-direction: column;
    height: auto;
  }
  .splitSection__image {
    order: -1;
  }
  .splitSection__image img {
    height: 30vh;
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .splitSection__content {
    padding: 1.5rem;
    flex-wrap: wrap;
    order: 1;
  }
  .splitSection__content--headings {
    position: static;
    right: auto;
    bottom: auto;
  }
  .splitSection__content--para {
    font-size: 1.1rem;
  }
  .splitSection__content--btn {
    padding: 0.8rem 1.6rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 500px) {
  .splitSection__image img {
    height: 21rem;
    width: 94%;
    background: url();
  }
}
.cardsContainer {
  height: 90vh;
  width: 100%;
  background-color: #333;
}
.cardsContainer__headings {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 6vh;
}
.cardsContainer__headings--subheading {
  font-size: 2rem;
  color: #FF8C00;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
.cardsContainer__headings--mainHeading {
  font-size: 3rem;
  color: #fff;
  margin-top: 5px;
  text-align: center;
}
@media (max-width: 768px) {
  .cardsContainer__headings--mainHeading--subheading {
    font-size: 1.5rem;
  }
  .cardsContainer__headings--mainHeading--mainHeading {
    font-size: 2rem;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .cardsContainer__headings--mainHeading {
    padding: 4vh;
  }
  .cardsContainer__headings--mainHeading--subheading {
    font-size: 1.2rem;
  }
  .cardsContainer__headings--mainHeading--mainHeading {
    font-size: 1rem;
  }
}
.cardsContainer__cards--wrapper {
  margin-top: 0rem;
  max-width: 100vw;
  margin-inline: auto;
  height: 150px;
  position: relative;
  overflow: hidden;
}
.cardsContainer__cards--wrapper-itemLeft, .cardsContainer__cards--wrapper-itemRight {
  width: 212px;
  height: 100px;
  background-color: whitesmoke;
  border-radius: 6px;
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
.cardsContainer__cards--wrapper-itemLeft__images, .cardsContainer__cards--wrapper-itemRight__images {
  width: 100%;
  height: 100%;
}
.cardsContainer__cards--wrapper-itemLeft-content, .cardsContainer__cards--wrapper-itemRight-content {
  display: flex;
  gap: 0;
  flex-direction: column;
  padding: 1vw;
}
.cardsContainer__cards--wrapper-itemLeft-content__boldText, .cardsContainer__cards--wrapper-itemRight-content__boldText {
  color: #8B0000;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.cardsContainer__cards--wrapper-itemLeft-content__basicText, .cardsContainer__cards--wrapper-itemRight-content__basicText {
  margin-top: 1vh;
  color: #333;
  font-size: 0.8rem;
}
@media (max-width: 768px) {
  .cardsContainer__cards--wrapper-itemLeft, .cardsContainer__cards--wrapper-itemRight {
    height: 120px;
  }
  .cardsContainer__cards--wrapper-itemLeft-itemLeft, .cardsContainer__cards--wrapper-itemLeft-itemRight, .cardsContainer__cards--wrapper-itemRight-itemLeft, .cardsContainer__cards--wrapper-itemRight-itemRight {
    width: 180px;
    height: 90px;
  }
}
@media (max-width: 480px) {
  .cardsContainer__cards--wrapper-itemLeft, .cardsContainer__cards--wrapper-itemRight {
    height: 100px;
  }
  .cardsContainer__cards--wrapper-itemLeft-itemLeft, .cardsContainer__cards--wrapper-itemLeft-itemRight, .cardsContainer__cards--wrapper-itemRight-itemLeft, .cardsContainer__cards--wrapper-itemRight-itemRight {
    width: 150px;
    height: 80px;
  }
}
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
@keyframes scrollRight {
  to {
    right: -200px;
  }
}
.cardsContainer__cards--wrapper-itemLeft {
  left: max(1600px, 100%);
  animation-name: scrollLeft;
}
.cardsContainer__cards--wrapper-itemRight {
  right: max(1600px, 100% + 200px);
  animation-name: scrollRight;
}
.cardsContainer__button {
  background-color: #FF8C00;
  color: #fff;
  height: 4vh;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  padding: 2vh;
  width: 17vw;
}
@media (max-width: 768px) {
  .cardsContainer__button {
    font-size: 0.9rem;
    height: 2vh;
  }
}
@media (max-width: 480px) {
  .cardsContainer__button {
    font-size: 0.8rem;
    width: 70%;
  }
}

.item1 {
  animation-delay: -26.25s;
}

.item2 {
  animation-delay: -22.5s;
}

.item3 {
  animation-delay: -18.75s;
}

.item4 {
  animation-delay: -15s;
}

.item5 {
  animation-delay: -11.25s;
}

.item6 {
  animation-delay: -7.5s;
}

.item7 {
  animation-delay: -3.75s;
}

.item8 {
  animation-delay: 0s;
}

.sub-header {
  max-width: 100vw;
  height: 10vh;
  padding: 0 10rem;
}
.sub-header__content {
  display: flex;
  justify-content: space-between;
}
.sub-header__content .indus-logo {
  height: 40px;
}
@media screen and (max-width: 700px) {
  .sub-header__content .indus-logo {
    width: 115px;
    height: 20px;
    margin-top: 17px;
  }
}
.sub-header__content--right {
  display: flex;
  gap: 23px;
}
.sub-header__content--right .email-div {
  display: flex;
  gap: 1vw;
  margin-bottom: 23px;
}
.sub-header__content--right .email-div__logo {
  background-color: #8B0000;
  margin-top: 1rem;
  height: 1rem;
  width: 1rem;
}
@media screen and (max-width: 768px) {
  .sub-header__content--right .email-div__desc {
    display: none;
  }
}
.sub-header__content--right i {
  margin-top: 12px;
}
@media screen and (max-width: 500px) {
  .sub-header {
    height: 50px;
    padding: 0 16px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1030px) {
  .sub-header {
    height: 4vh;
  }
}

.sub-header-two {
  height: 92px;
  padding: 16px 160px;
  display: flex;
  justify-content: space-between;
  background-color: #98262a;
}
.sub-header-two__content {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.sub-header-two__content .logo-img {
  margin-top: 17px;
}
.sub-header-two__content i {
  width: 56px;
  height: 37px;
  margin-top: 25px;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .sub-header-two {
    height: 50px;
    padding: 0 46px;
    justify-content: space-between;
  }
  .sub-header-two .logo-img {
    width: 86px;
    height: 40px;
  }
}

.contentSection {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 26px;
}
.contentSection__subHeader {
  font-size: 1.5rem;
  color: #333;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
}
@media (max-width: 768px) {
  .contentSection__subHeader {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}
.contentSection__headingMain {
  font-size: 3.5rem;
  color: #8B0000;
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .contentSection__headingMain {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
}
.contentSection__middleText {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 1rem;
  color: #666;
  margin-top: 0;
}
.contentSection__content {
  display: flex;
  margin-bottom: 20px;
}
.contentSection__content--image-wrapper {
  width: 48%;
  margin-top: 2%;
  margin-right: 4%;
}
.contentSection__content--image-wrapper .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .contentSection__content--image-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.contentSection__content--data-wrapper {
  width: 48%;
}
.contentSection__content--data-wrapper__heading {
  font-size: 1.4rem;
  color: #FF8C00;
  font-style: italic;
}
@media screen and (max-width: 768px) {
  .contentSection__content--data-wrapper__heading {
    color: #E67E00;
    margin-bottom: 10px;
  }
}
.contentSection__content--data-wrapper__paragraph {
  margin-bottom: 1rem;
  line-height: 1.5;
  color: #666;
}
.contentSection__content--data-wrapper .cta-button {
  background-color: #FF8C00;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 17px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.contentSection__content--data-wrapper .cta-button:hover {
  background-color: #FF8C00;
}
@media screen and (max-width: 768px) {
  .contentSection__content--data-wrapper {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .contentSection__content {
    flex-direction: column;
  }
}
.contentSection__imageGallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}
.contentSection__imageGallery .gallery-items-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 2rem;
}
.contentSection__imageGallery .gallery-items-wrapper .gallery-item {
  width: 25%;
  flex: 0 0 25%;
  cursor: pointer;
}
.contentSection__imageGallery .gallery-items-wrapper .gallery-item__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .contentSection__imageGallery .gallery-items-wrapper .gallery-item__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.contentSection__imageGallery .gallery-items-wrapper .gallery-item-caption {
  font-size: 0.9em;
  margin-top: 5px;
  text-align: center;
  color: #666;
}
@media (max-width: 768px) {
  .contentSection__imageGallery .gallery-items-wrapper .gallery-item-caption {
    width: 100%;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .contentSection__imageGallery {
    display: none;
  }
}
.contentSection__navigation {
  text-align: center;
}
.contentSection__navigation--nav-button {
  background-color: #FF8C00;
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
  border: none;
  padding: 10px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.contentSection__navigation--nav-button:hover {
  background-color: #E67E00;
}
@media screen and (max-width: 768px) {
  .contentSection__navigation--nav-button {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .contentSection__navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
  .content h3 {
    color: #FF8C00;
    margin-bottom: 10px;
  }
  .cta-button {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .navigation {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
  }
  .nav-button {
    margin: 0;
  }
  .image-gallery {
    display: none;
  }
}
.contentSection__navigation--nav-button:disabled {
  background-color: #666;
  cursor: not-allowed;
  opacity: 0.5;
  color: #000;
}

.mainDiv {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.mainDiv .upperDiv {
  background-color: green;
  height: 70%;
  display: flex;
}
.mainDiv .upperDiv .upperDivLeft {
  width: 75%;
  height: 100%;
  background-color: gold;
  display: flex;
  flex-direction: column;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftTop {
  height: 40%;
  background-color: red;
  display: flex;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftTop .upperDivLeftTopLeft {
  width: 50%;
  background-color: darkcyan;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftTop .upperDivLeftTopRight {
  width: 50%;
  background-color: darkkhaki;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftBottom {
  height: 60%;
  background-color: pink;
  display: flex;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftBottom .upperDivLeftBottomLeft {
  width: 30%;
  background-color: darkorange;
}
.mainDiv .upperDiv .upperDivLeft .upperDivLeftBottom .upperDivLeftBottomRight {
  width: 70%;
  background-color: darkgoldenrod;
}
.mainDiv .upperDiv .upperDivRight {
  width: 25%;
  height: 100%;
  background-color: violet;
  display: flex;
  flex-direction: column;
}
.mainDiv .upperDiv .upperDivRight .upperDivRightTop {
  height: 60%;
  background-color: #333;
}
.mainDiv .upperDiv .upperDivRight .upperDivRightBottom {
  height: 40%;
  background-color: #fff;
}
.mainDiv .lowerDiv {
  background-color: brown;
  height: 30%;
  display: flex;
}
.mainDiv .lowerDiv .lowerDiv1 {
  width: 50%;
  height: 100%;
  background-color: blue;
}
.mainDiv .lowerDiv .lowerDiv2 {
  width: 50%;
  height: 100%;
  background-color: blueviolet;
}

.dualLayoutSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  max-width: 100vw;
  background-color: #333;
}
.dualLayoutSection__content {
  flex: 1;
  padding: 40px 70px 40px 70px;
}
.dualLayoutSection__content--heading {
  font-size: 50px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}
.dualLayoutSection__content--subheading {
  font-size: 24px;
  color: #f1a545;
  margin-top: 0;
  margin-bottom: 10px;
}
.dualLayoutSection__content--grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
.dualLayoutSection__content--grid .value-item {
  display: flex;
  align-items: center;
}
.dualLayoutSection__content--grid .value-item__icon {
  width: 50px;
  margin-right: 20px;
}
.dualLayoutSection__content--grid .value-item__text--heading {
  color: #eee;
  font-size: 20px;
}
.dualLayoutSection__content--grid .value-item__text--paragraph {
  font-size: 14px;
  line-height: 1.5;
  color: #aaa;
}
.dualLayoutSection__container {
  flex: 1;
  position: relative;
}
.dualLayoutSection__container .csr-image {
  max-width: 100%;
  -webkit-clip-path: circle(50% at right);
          clip-path: circle(50% at right);
  height: 100%;
}
@media (max-width: 900px) {
  .dualLayoutSection {
    flex-direction: column-reverse;
  }
  .dualLayoutSection__content {
    padding: 20px 40px;
  }
  .dualLayoutSection__container {
    margin-top: 20px;
  }
  .dualLayoutSection__container .csr-image {
    -webkit-clip-path: circle(50% at top);
            clip-path: circle(50% at top);
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .dualLayoutSection__content--subheading {
    font-size: 40px;
  }
  .dualLayoutSection__content--heading {
    font-size: 20px;
  }
  .dualLayoutSection__content--grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .dualLayoutSection__content {
    padding: 20px;
  }
  .dualLayoutSection__content--subheading {
    font-size: 30px;
  }
  .dualLayoutSection__content--heading {
    font-size: 18px;
  }
}

.carouselContainer {
  max-width: 100%;
  padding: 20px;
  text-align: center;
}
.carouselContainer__subheading {
  font-size: 1rem;
  color: #666;
  margin-top: 0;
  margin-bottom: 0;
}
.carouselContainer__mainheading {
  font-size: 3rem;
  color: #8B0000;
  margin-top: 5px;
}
@media screen and (max-width: 768px) {
  .carouselContainer__mainheading {
    font-size: 36px;
  }
}
.carouselContainer__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  overflow-x: auto;
}
.carouselContainer__carousel--profile {
  width: 200px;
  margin: 0 10px;
}
.carouselContainer__carousel--profile .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .carouselContainer__carousel--profile .profile-image {
    max-width: 400px;
  }
}
.carouselContainer__carousel--profile-name {
  font-weight: bold;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .carouselContainer__carousel--profile-name {
    font-size: 21px;
  }
}
.carouselContainer__carousel--profile-title {
  font-size: 14px;
  color: #666;
}
@media screen and (max-width: 768px) {
  .carouselContainer__carousel--profile-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .carouselContainer__carousel--profile {
    display: none;
  }
}
.carouselContainer__carousel--main-profile {
  width: 300px;
  margin: 0 20px;
}
.carouselContainer__carousel--main-profile .profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.carouselContainer__description {
  max-width: 100vw;
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-left: 15vw;
  margin-right: 15vw;
}
@media screen and (max-width: 768px) {
  .carouselContainer__description {
    font-size: 16px;
  }
}
.carouselContainer__navigation-button {
  display: flex;
  justify-content: center;
  gap: 23px;
}
.carouselContainer__navigation-button--nav-buttonn {
  background-color: #FF8C00;
  border: none;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .carouselContainer {
    max-width: 700px;
  }
}

.main-name {
  color: #FF8C00;
}

.contactSection {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 7rem;
  background-color: #FFF5EB;
  box-sizing: border-box;
}
.contactSection__leftsection {
  flex: 1 1 45%;
  margin: 10px 0;
}
.contactSection__leftsection--subheading {
  font-size: 24px;
  color: #666;
  margin-top: 0;
  font-style: italic;
}
@media (max-width: 768px) {
  .contactSection__leftsection--subheading {
    font-size: 20px;
  }
}
.contactSection__leftsection--heading {
  font-size: 40px;
  color: #8B0000;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
}
@media (max-width: 768px) {
  .contactSection__leftsection--heading {
    font-size: 36px;
  }
}
.contactSection__leftsection--paragraph {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .contactSection__leftsection--paragraph {
    font-size: 14px;
  }
}
.contactSection__leftsection--contactInfo {
  margin-top: 20px;
}
.contactSection__leftsection--contactInfo-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.contactSection__leftsection--contactInfo-content .icon {
  font-size: 24px;
  color: #FF8C00;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .contactSection__leftsection--contactInfo-content .icon {
    font-size: 20px;
  }
}
.contactSection__leftsection--contactInfo-content .mails {
  font-size: 16px;
  color: #666;
}
.contactSection__leftsection--contactInfo-content .mails .email {
  font-weight: bold;
}
@media (max-width: 768px) {
  .contactSection__leftsection--contactInfo-content .mails {
    font-size: 14px;
  }
}
.contactSection__leftsection--socialIcons {
  margin-top: 20px;
}
.contactSection__leftsection--socialIcons .fab {
  font-size: 24px;
  color: #666;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .contactSection__leftsection--socialIcons .fab {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .contactSection__leftsection {
    flex: 1 1 100%;
    padding: 0 10px;
  }
}
.contactSection__rightSection {
  flex: 1 1 25%;
  margin: 10px 10px;
  background-color: #4b2e1e;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}
.contactSection__rightSection--top {
  display: flex;
  gap: 2rem;
}
.contactSection__rightSection--top-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.contactSection__rightSection--top-name input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--top-name input {
    width: auto;
  }
}
.contactSection__rightSection--top-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactSection__rightSection--top-mobile input {
  max-width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--top-mobile input {
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .contactSection__rightSection--top-mobile input {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--top-mobile {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--top {
    gap: 1rem;
    flex-direction: column;
  }
}
.contactSection__rightSection--middle {
  display: flex;
  gap: 2rem;
}
.contactSection__rightSection--middle-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.contactSection__rightSection--middle-email input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--middle-email input {
    width: auto;
  }
}
.contactSection__rightSection--middle-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactSection__rightSection--middle-company__select {
  max-width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--middle-company__select {
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .contactSection__rightSection--middle-company__select {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--middle-company {
    margin-left: 2vw;
  }
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--middle {
    gap: 1rem;
    flex-direction: column;
  }
}
.contactSection__rightSection--bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
}
.contactSection__rightSection--bottom-text .textarea {
  width: 100%;
  height: 15vh;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection--bottom-text .textarea {
    height: 10vh;
  }
}
.contactSection__rightSection--bottom-checkboxContainer {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.contactSection__rightSection--bottom-checkboxContainer__span {
  font-size: 2rem;
}
@media screen and (min-width: 768px) {
  .contactSection__rightSection--bottom-checkboxContainer__span {
    font-size: 0.6rem;
  }
}
.contactSection__rightSection--button {
  background-color: #ff7f00;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 18px;
}
.contactSection__rightSection--button .fa-arrow-right {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .contactSection__rightSection {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 768px) {
  .contactSection {
    flex-direction: column;
    padding: 2rem;
    overflow-x: hidden;
  }
}

.label {
  font-size: 0.7rem;
  margin-bottom: 2px;
}

.mainCarousel {
  overflow-x: hidden;
  max-width: 100vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5a56ea;
}
.mainCarousel__slide {
  position: relative;
  display: none;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.mainCarousel__slide--image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.mainCarousel__slide--content {
  position: absolute;
  left: 5%;
  z-index: 1;
}
.mainCarousel__slide--content-topHeading {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}
.mainCarousel__slide--content-mainHeading {
  font-size: 4rem;
  font-weight: bold;
  color: #FF8C00;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .mainCarousel__slide--content-mainHeading {
    font-size: 2rem;
  }
}
.mainCarousel__slide--content-paragraph {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #fff;
}
.mainCarousel__slide--content .button {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  border: 0;
  background-color: #FF8C00;
  color: #fff;
  text-decoration: none;
}
.mainCarousel__slide--content .button:hover {
  background-color: #E67E00;
}
.mainCarousel__slide.active {
  display: flex;
}
.mainCarousel__navigation {
  position: absolute;
  bottom: -17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCarousel__navigation--nav-button {
  background-color: #FF8C00;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.7rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .mainCarousel__navigation--nav-button {
    width: 1rem;
  }
}
.mainCarousel__navigation--dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 0.7rem;
}
.mainCarousel__navigation--dots-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8B0000;
  color: transparent;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
@media screen and (max-width: 400px) {
  .mainCarousel__navigation--dots-dot {
    width: 0.6rem;
    height: 0.6rem;
  }
}
.mainCarousel__navigation--dots-dot.active {
  color: #fff;
  height: 2rem;
  width: 2rem;
}
@media screen and (max-width: 400px) {
  .mainCarousel__navigation--dots-dot.active {
    width: 1rem;
    height: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .mainCarousel__navigation {
    width: 90%;
    top: 24%;
  }
}
@media screen and (max-width: 400px) {
  .mainCarousel__navigation {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .mainCarousel__navigation {
    bottom: -13%;
  }
}
@media screen and (max-width: 800px) {
  .mainCarousel__navigation {
    bottom: -8%;
  }
}
@media screen and (max-width: 700px) {
  .mainCarousel__navigation {
    top: 33%;
  }
}
@media screen and (max-width: 400px) {
  .mainCarousel {
    height: 100%;
  }
}

@media (max-width: 800px) {
  .mainCarousel__slide--image {
    height: 50%;
    top: 0;
    width: 100%;
  }
  .mainCarousel__navigation {
    top: 15%;
  }
  .mainCarousel__navigation--dots-dot {
    background-color: #8B0000;
    color: #fff;
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
  .mainCarousel__navigation--dots-dot.active {
    background-color: #8B0000;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
  }
  .mainCarousel__slide--content {
    top: 60%;
    width: 80vw;
  }
  .mainCarousel__slide--content-topHeading {
    color: #333;
  }
  .mainCarousel__slide--content-paragraph {
    color: #333;
  }
}
.footer {
  overflow-x: hidden;
}
.footer__top {
  background-color: #FFF5EB;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__top--logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__top--logo .logo-img {
  width: 9rem;
  height: 4rem;
}
.footer__top--Right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__top--Right-contactInfo {
  width: 100%;
  font-size: 14px;
}
.footer__top--Right-contactInfo__location, .footer__top--Right-contactInfo__email {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__top--Right-socialIcons {
  display: flex;
  justify-content: center;
  gap: 1vw;
  font-size: 10px;
}
.footer__top--Right-socialIcons-link {
  margin-left: 10px;
  color: #8B0000;
}
.footer___Menu {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 5vw;
}
.footer___Menu__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.footer___Menu__column--highlight {
  margin-bottom: 9px;
  padding: 5px 0;
  text-decoration: underline;
}
.footer___Menu__column--highlight-links {
  color: #333;
  text-decoration: none;
  padding: 2px 0;
  font-size: 0.8rem;
}
.footer .footerBottom {
  background-color: #8B0000;
  color: #fff;
  padding: 20px;
}
.footer .footerBottom__menu {
  padding: 4vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.footer .footerBottom__menu--column {
  min-width: 150px;
  margin-bottom: 20px;
}
.footer .footerBottom__menu--column--strong {
  margin-top: 0;
}
.footer .footerBottom__menu--column--strong-hyperlink {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background-color: #8B0000;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.footer .footerBottom__menu--column-last {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .footerBottom__menu--column-last__input {
  width: 80%;
  margin-bottom: 10px;
}
.footer .footerBottom__menu--column-last__button {
  background-color: #8B0000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  height: 4.5vh;
  margin-bottom: 1.4vh;
}
.footer .footerBottom__menu--column-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  color: #fff;
}
.footer .footerBottom__description {
  margin-top: 20px;
  font-size: 12px;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footer .footerBottom__final {
  padding: 6vw 5vw 0 5vw;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

hr {
  margin-bottom: -4rem;
  margin-top: 1rem;
}

.accordion-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.accordion-button:focus {
  outline: none;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content.open {
  max-height: 1000px;
}

.accordion-button::before {
  transition: content 0.6s ease;
}

/* Media Queries for responsiveness */
/* Tablet devices */
@media (max-width: 768px) {
  .footer__top {
    flex-direction: column;
    text-align: center;
  }
  .footer___Menu {
    flex-direction: column;
    text-align: center;
  }
  .footer .footerBottom__menu {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .footerBottom__final {
    flex-direction: column;
  }
}
/* Mobile devices */
@media (max-width: 480px) {
  .footer__top {
    padding: 0 5vw;
  }
  .footer___Menu {
    padding: 10px 2vw;
  }
  .footer .footerBottom {
    padding: 4vw 2vw;
  }
  .footer .footerBottom__menu {
    grid-template-columns: 1fr;
  }
  .footer .footerBottom__final {
    padding: 2vw;
  }
  hr {
    position: absolute;
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */